<h1>Current Bitcoin Price:</h1>
<% price = number_to_currency(MtGox.ticker.sell, :unit => "$") %>
<p><%= price %></p>
<% content_for :title, price %>
<h5><%= Time.now.utc.strftime("%B %-d, %Y %I:%M:%S %p") %></h5>